<mat-toolbar class="fixed-toolbar" color="primary">
  <span class="end-gaps"></span>
  <button mat-button routerLink="/main">
      HireSmart
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/">Referrals</button>
    <button mat-button routerLink="/challenges">Challenges</button>
    <button mat-button (click)="openAuthModal()">Login</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="end-gaps"></span>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">Referrals</button>
  <button mat-menu-item routerLink="/challenges">Challenges</button>
  <button mat-menu-item (click)="openAuthModal()">Login</button>
</mat-menu>
