.mat-tab-group {
    margin-bottom: 48px;
  }

.with-newlines {
    white-space: pre-line;
}

.challenge-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

.facade-div {
  height: 100vh; 
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to bottom,#F5F5F5, rgb(20, 20, 20));
}

.second-panel {
  height: 80vh;
  background-image: linear-gradient(to bottom, #b00020, #44010d);
}

.second-header {
  color: #D7CCC8;
  position: absolute;
  padding: 0px;
  top: 125vh;
  left: 15vw;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0);
}

.third-header {
  color: rgb(20, 20, 20);
  position: absolute;
  padding: 0px;
  top: 225vh;
  left: 15vw;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0);
}

.third-panel {
  height: 100vh;
  background-image: linear-gradient(to bottom, #D7CCC8, rgb(172, 162, 159));
}

.cut-triangle {
  height: 0vh;
  border-bottom: solid 20vh #D7CCC8;
  border-left: solid 98.5vw #44010d;
}

.primary-header {
  color: #b00020;
  position: absolute;
  padding: 0px;
  top: 25vh;
  left: 15vw;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0);
}
