<div class="landing" fxLayout="column" fxLayoutAlign="flex-start">
    <div class="facade-div">
        <h1 class="panel-header red">
            Develop skills, Take challenges, Get Hired!
        </h1>
    </div>
    <div class="second-panel">
        <h1 class="panel-header beige">
            Advance your skills with Practice Mode and Open Challenges
        </h1>
    </div>
    <div class="cut-triangle">
    </div>
    <div class="third-panel">
        <h1 class="panel-header black">
            Improve skill scores to get Refferals!
        </h1>
    </div>
</div>
    