.mat-tab-group {
    margin-bottom: 48px;
  }

.with-newlines {
    white-space: pre-line;
}

.challenge-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}
