<div class="auth-modal-wrapper">
  <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
    <mat-tab label="Login">
      <div class="flex" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="flex-start"> 
        <div class="creds-login" fxLayout="column" fxLayoutAlign="flex-start">
          <h2>Login</h2>
          <mat-form-field class="mw-25v" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" cdkFocusInitial>
          </mat-form-field>
          <mat-form-field class="mw-25v" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <div align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button color="accent">Login</button>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-divider></mat-divider>
        <div class="oauth-login" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
          <a href="#" mat-button><svg height="48" width="48" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg></a>
          <a href="#" mat-button><svg viewBox="0 0 24 24" height="48" width="48"  xmlns="http://www.w3.org/2000/svg"><path fill="#3b5998" d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"></path></svg></a>
          <a href="#" mat-button><svg height="48" class="octicon octicon-mark-github text-white" viewBox="0 0 16 16" version="1.1" width="48" aria-hidden="true"><path fill="white" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a>
        </div>
        <br>
      </div>
    </mat-tab>
    <mat-tab label="Sign Up">  
      <div class="accent-themed">
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [completed]="emailBuffer.isVerified" state="email">
            <ng-template matStepLabel><span fxShow.lt-md="false"> Email</span></ng-template>
            <form #f="ngForm" (ngSubmit)="checkEmail(stepper)">
              <mat-form-field class="mw-80" appearance="outline">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="emailBuffer.email" name="email" matInput required>
              </mat-form-field>
              <mat-dialog-actions >
                <button type="submit" color="accent" mat-button>Next</button>
              </mat-dialog-actions>
            </form>
          </mat-step>
          <mat-step state="otp">
            <ng-template matStepLabel><span fxShow.lt-md="false">Verify Email</span></ng-template>
            <mat-form-field appearance="outline">
              <mat-label>OTP</mat-label>
              <input matInput required>
            </mat-form-field>
            <mat-dialog-actions>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button color="accent" matStepperNext>Next</button>
            </mat-dialog-actions>
          </mat-step>
          <mat-step fxLayout="column" fxLayoutAlign="flex-start" state="password">
            <ng-template matStepLabel><span fxShow.lt-md="false">Set Password</span></ng-template>
            <mat-form-field class="mw-80" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" required>
            </mat-form-field>
            <mat-form-field class="mw-80" appearance="outline">
              <mat-label>Repeat Password</mat-label>
              <input matInput type="password" required>
            </mat-form-field>
            <mat-dialog-actions>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button color="accent" (click)="stepper.reset()">Finish</button>
            </mat-dialog-actions>
          </mat-step>
          <ng-template matStepperIcon="email">
            <mat-icon>email</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="otp">
            <mat-icon>verified_user</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="password">
            <mat-icon>lock</mat-icon>
          </ng-template>
        </mat-horizontal-stepper>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>